* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: #fff;
    background-image: url('/assets/img/bg.jpg');
    background-repeat: repeat;
    background-size: 50px;
    a { 
        cursor: pointer; 
    }
    img{
        max-width: 100%;
        height: auto;
    }
}